
.background {
    min-height: 100vh;
    background-color: #eeeeee;
    background-position: center center;
    background-size: cover;
    padding-top: 62px;
}

.nav-text {
    font-size: 1.5em;
    margin-left:0.7em;
    margin-right:0.7em;
    color: white;
}

.nav-text:hover {
    text-decoration: none;
    color: white;
}

.mynavbar {
    position: relative;
    z-index: 2;
    margin-bottom: 0;
    border: none;
    position: fixed;
    width: 100%;
    background-color: #393939;
}

.mynavbar-header {
    float: left;
    margin-top: 1em;
    margin-left: 1em;
    visibility: visible;
}

.mynavbar-table {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-algin: right;
    float: right;
}

.navbar-button-down {
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 1em;
}

.navbar-button-up {
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 1em;
}

