[submodule "js-third-party/flux"]
	path = js-third-party/flux
	url = https://github.com/facebook/flux.git
	branch = master
[submodule "js-third-party/three.js"]
	path = js-third-party/three.js
	url = https://github.com/mrdoob/three.js.git
	branch = master
[submodule "js-third-party/jQuery-contextMenu"]
	path = js-third-party/jQuery-contextMenu
	url = https://github.com/swisnl/jQuery-contextMenu.git
	branch = master
[submodule "js-third-party/patternfly-bootstrap-treeview"]
	path = js-third-party/patternfly-bootstrap-treeview
	url = https://github.com/JonGabilondoAngulo/patternfly-bootstrap-treeview.git
	branch = master
