[submodule "js-third-party/patternfly-bootstrap-treeview"]
	path = js-third-party/patternfly-bootstrap-treeview
	url = https://github.com/JonGabilondoAngulo/patternfly-bootstrap-treeview.git
	branch = master
